
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 600px) {
/* Styles */

#screen {
    margin: 0 auto;
    text-align: center;
   }
header {
    height: 100px;
    width: 100%;

}
#screen img {
    align-self: center;
    object-fit: contain;
    height: 100%;
    
}   

#sceneWindow {
    display: inline-block;
    background-color: black;
    width: 65vw;
    min-width: 700px;
    min-height: 525px;
    height: a;
    margin: auto;
    border-radius: 5px;
}

#buttonAndLoot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

#dc-container{
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
}

#dialogue-window{
    margin: auto;
}

#dialogue{
    margin: auto;
    min-width: 300px;
}
}


#dialogue{
    margin: auto;
}

#chat{
    margin: auto;
}

#dc-container{
    display: flex;
}