
h2 {
    font-size: 2vw;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 0px;

}
.scrollDiv{
    padding: 15px 30px 0px 30px;
    scrollbar-color: black gray;
    overflow: auto;
    font-size: 1.5vw;
    text-align: left;
    height: 80%;
}

.scrollChat{
    text-align: left;
     width: 90%; 
     height: 48%; 
     padding: 30px 0 30px 30px;
     scrollbar-color: black gray;
     overflow: auto;
     font-size: 2vw;
}

#mario-chat{
    background-attachment: scroll; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    min-height: 250px;
    min-width: 225px;
    max-width: 350px;
    width: 35vw; 
    height: 38vh; 
    margin-right: 0;
}